<div class="stripe-subscribe-plan stripe-subscribe-plan-{{ plan.price_id|clean_class }} stripe-subscribe-status-{{ current_user_subscribes_to_this_plan ? 'subscribed' : 'unsubscribed'}}">
  <button class="stripe-subscribe-button stripe-button" data-price_id="{{ plan.price_id }}">Subscribe to {{ plan.name }}</button>
</div>
